body {
    background-color: #333;    
}
.welcome {
    font-size: 2em;
    width: 639px;
    -webkit-box-shadow: 0 0 5px #CCCCCC;
    -moz-box-shadow: 0 0 5px #CCCCCC;
    box-shadow: 0 0 5px #CCCCCC;
    background-color: #EAEAEA;
    margin: 50%;
    margin-top: 50px;
    position: absolute;
    left: -320px;
    text-align: center;
    line-height: 100px;
}

.welcome a {
    color: #333333; 
    text-decoration: none;
}
