body {
    background-color: #666;    
}
.welcome {
    font-size: 2em;
    width: 320px;
    height: 100px;
    -webkit-box-shadow: 0 0 5px #CCCCCC;
    -moz-box-shadow: 0 0 5px #CCCCCC;
    box-shadow: 0 0 5px #CCCCCC;
    background-color: #EAEAEA;
    margin: 50%;
    margin-top: 50%;
    position: absolute;
    top: -50px;
    left: -160px;
    text-align: center;
    line-height: 100px;
}

.welcome a {
    color: #333333; 
    text-decoration: none;
}